/* Stylish Scrollbar */

body {
	font-family: Calibri;
	margin: 0;
	padding: 0;
	max-width: 1400px;
	margin: 0 auto;
}
#navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	top: 0;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}
#logo {
	width: 10rem;
	padding: 5px;
}
#main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#article {
	padding: 10px;
	padding-top: 30px;
	width: 70%;
	height: 95vh;
	overflow: auto;
	box-sizing: border-box;
	background: rgb(250, 250, 250);
	h1 {
        color: dodgerblue;
        margin-bottom: 5px;
        text-transform: uppercase;
	}
	h2 {
        color: dodgerblue;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .hr{
        width: 40%;
        height: 5px;
        background: gray;
        margin-left: 0;
    }
    p{
        color: rgb(70, 69, 69);
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
    }
}
#aside {
	display: inline-block;
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
}
#navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rate{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
#googl, #btcusd, #msft{
    background: rgb(48, 45, 45);
    color: white;
    padding: 2px;
    margin-top: 4px;
    border-radius: 3px;
}
form {
	input {
		width: 100%;
		border: none;
		border-radius: 5px;
		border-bottom: 2px solid dodgerblue;
		border-right: 2px solid dodgerblue;
		padding: 4px;
		margin-bottom: 15px;
	}
	select {
		width: 100%;
		border: none;
		border-radius: 5px;
		border-bottom: 2px solid dodgerblue;
		border-right: 2px solid dodgerblue;
		padding: 4px;
		margin-bottom: 15px;
	}
	label {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: bold;
	}
	button {
		border: none;
		color: black;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: white;
		border-radius: 4px;
		box-shadow: 2px 2px gray;
	}
}
@media only screen and (max-width: 760px) {
	#main {
		flex-direction: column;
	}
	#article {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	#aside {
		width: 100%;
		padding: 10px;
	}
}
